body, html {
  height: 100%;
}

.App {
  text-align: center;
  height: 100vh;
  background-color: #a9b6c83b;
}

.App-container {
  max-width: 1010px;
  min-width: 300px;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: rgb(100, 136, 174);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.header-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 16px;
}

.page_container {
  height: 80vh;
}

