body, html {
  height: 100%;
}

.App {
  text-align: center;
  height: 100vh;
  background-color: rgba(86, 131, 145, 0.14);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.header-wrapper {

}

.App-link {
  color: #61dafb;
}

.page_container {
  height: 80vh;
}

