.group_chat {
  max-width: 1010px;
  min-width: 300px;
  margin: 0 auto;
  border: 1px solid rgba(127, 184, 199, 0.33);
  border-radius: 5px;
  padding: 2% 10%;
  box-sizing: border-box;
  font: 13px/18px Tahoma,sans-serif,Arial,Helvetica;
  height: 70vh;
  overflow-y: scroll;
  background-color: white;
}

.message {
  max-width: 560px;
  padding: 5px 15px;
}
.message__wrap {
  margin: 8px 10px 8px 16px;
}

.message__user_img {
  background-color: rgba(95, 158, 160, 0.71);
  border-radius: 50%;
  height: 42px;
  width: 42px;
  align-self: center;
  margin-right: 15px;
  float: left!important;
}

.message__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 57px;
  overflow: hidden;
  line-height: 150%;
}

.message__body__name {
  color: #b74f7a;
  font-weight: bold;
}

.message__body__text {
  text-align: left;
  word-break: break-word;
}

.message__time {
  float: right!important;
  color: #b4b4b4;
  font-size: 0.9em;
}

.write_area {

}

.write_area__wrap {
  max-width: 554px;
  margin: 0 auto;
  padding: 0 0 30px 0;
  position: relative;
}

.write_area__text {
  font-size: 12px;
  margin-bottom: 10px;
  padding: 6px 55px 6px 6px;
  min-height: 50px;
  height: 50px;
  resize: none;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(95, 158, 160, 0.75);
  outline: none;
}

.write_area__send {
  position: absolute;
  top: 9px;
  transform: translateX(-100%);
}

.login-form {
  width: 400px;
  margin: 50px auto;
}
